link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')

script(type='text/javascript', src='/bower_components/angular/angular.js')

body(ng-app='app')
    div(ng-controller='testCtrl')
        div Hi